<div class=" container modal-dialog col-md-6 mb-3">
    <div class="color modal-content text-center">
        <form class=" needs-validation" action="/asociaciones/actualizar" method="post" novalidate>
            <br>
            <h4 class= " text-center"> Editar una asociacion </h4>

            <% if (message.length > 0) { %>
              <div class="alert alert-danger">
                <%= message %>
              </div>
            <% } %>

            <input type="" class="invisible esconde" name="asociacionid" id="asociacionid"
                  value="<%= asociacion.id %>">
            <hr/>
            <h6 class= " text-center"> <%=asociacion.nombre_nodo1%> -> <%=asociacion.nombre_nodo2%> </h6>
            <h6 class= " text-center"> <%=asociacion.tipo_nodo1%> -> <%=asociacion.tipo_nodo2%> </h6>

            <div class="col-md-8 mb-3">
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">MW</span>
            </div>


            <input type="text" class="form-control" name="capacidad" id="capacidad"
                    maxlength="8" placeholder="capacidad en Megavatios*"
                    pattern="([0-9]{1,8})+([.]{0,1})+([1-9]{0,2})"
                   aria-describedby="inputGroupPrepend" required>
                   <div class="invalid-feedback">
                       campo no puede estar vacio <br>
                       Unidad de medida Megavatios <br>
                       maximo 2 decimales
                   </div>
            </div>
            </div>
            <hr/>

            <button class="btn btn-success btn-sm mb-4" type="submit"> Actualizar </button>
          </form>
    </div>
</div>
