<div class=" container modal-dialog modal-content color text-center col-md-4 mb-3">
<h1> Administracion de usuarios</h1>
</div>

<div class=" container center modal-dialog col-md-6 mb-3">
<% if (message.length > 0) { %>
  <div class="alert alert-danger">
	<%= message %>
  </div>
<% } %>
</div>

<div class=" container modal-content  color centrade">
	<div class="row">
	<table id="table" class="fixed table table-striped table-bordered table-dark" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
				<th>codigo</th>
                <th>nombre de usaurio</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>cargo</th>
                <th>bloqueado</th>
				<th> editar </th>
				<th> contraseña </th>
            </tr>
        </thead>
        <tbody>
			<% for(i=0; i < usuarios.length; i++){ %>
                <tr>
					<th ><%= usuarios[i].id %></th>
					<th ><% if(usuarios[i].supervisor){%> SUP<%} else {%>
	                OPE<%}%>-<%=usuarios[i].id%>-<%= (usuarios[i].id+3000000).toString(16) %></th>
                    <th ><%= usuarios[i].nombre_usuario%></th>
                    <th ><%= usuarios[i].nombre %></th>
                    <th ><%= usuarios[i].apellido %></th>
					<th ><% if(usuarios[i].supervisor){%>
						supervisor
					<% }else{%>
						operador
					<%}%> </th>
					<th >
						<input type="checkbox" name="bloqueado"s
						<%if(usuarios[i].bloqueado){%>
							checked <%}%> disabled>

					</th>

					<th>
					<form class="" action="/usuarios/editar" method="get">
						<input type="" class="invisible esconde" name="usuarioid" id="usuarioid"
														value="<%= usuarios[i].id %>">
						<input type="submit" value= "editar" class=" btn btn-success">
						</form>
					</th>
					<th>
					<form class="" action="/usuarios/cambiarcontrasena" method="get">
						<input type="" class="invisible esconde" name="usuarioid" id="usuarioid"
														value="<%= usuarios[i].id %>">
						<input type="submit" value= "modificar" class=" btn btn-warning">
						</form>
					</th>
                </tr>

            <% } %>
		</tbody>
    </table>
	</div>
</div>
