<div class=" container centrade color-white">
	<div class="row">
	<table id="table" class="fixed table table-striped table-bordered table-dark" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>latitud</th>
                <th>longitud</th>
                <th>tipo de nodo</th>

                <th>eliminar</th>
            </tr>
        </thead>
        <tbody>
			<% for(i=0; i < nodos.length; i++){ %>
                <tr>
                    <th ><%= nodos[i].id %></th>
                    <th ><%= nodos[i].nombre %></th>
                    <th ><%= nodos[i].latitud %></th>
                    <th ><%= nodos[i].longitud %></th>
                    <th ><%= nodos[i].tipo_nodo %></th>

                    <th class="ajustar"><form class="" action="/grafo/eliminar/nodo" method="post">
						<input type="" class="invisible esconde" name="nodoNombre" id="nodoNombre"
	                          value="<%= nodos[i].nombre %>">
						<input type="submit" value= "eliminar" class=" btn btn-danger">
						</form>
					</th>
                </tr>
            <% } %>
		</tbody>
    </table>
	</div>
</div>
